# teslamate
ENCRYPTION_KEY=key

# DB configuration
DB_NAME=teslamate
DB_USER=teslamate
DB_PASSWORD=change_this_secure_password_123!
DB_PORT=5432

# MQTT
MQTT_HOST=mqtt
MQTT_USERNAME=teslamate
MQTT_PASSWORD=change_this_secure_password_123!

# grafana
GF_PASSWORD=change_this_secure_password_123!
GF_ADMIN_USER=teslamate
GF_ADMIN_PASSWORD=change_this_secure_password_123!

